ipython==8.12.3
ipywidgets==8.1.2
matplotlib==3.10.0
numpy==2.2.3
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
Pillow==12.2.0
scikit_learn==1.6.1
streamlit==1.54.0
tensorflow==2.17.0
tensorflow_intel==2.17.0
